.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
}

.example-container .mat-form-field {
    width: 220px;
}

.example-container form {
    margin-bottom: 20px;
}

.example-container form > * {
    margin: 5px 0;
}

.example-container .mat-radio-button {
    margin: 0 12px;
}

.custom-dropzone.ngx-dz-hovered {
    border: 5px solid rgb(255,211,0);
}

.custom-dropzone-preview{
    width: 100% !important;
    max-width: unset !important;
}

table {
    width: 100%; 
}

.example-full-width {
    width: 100%;
}

.cellFormFilter{
    padding-right: 2rem;
    padding-right: 2rem;
}

  
.mat-form-field {
    font-size: 20px;
}