
<div *ngIf="error" class="alert alert-danger animated fadeIn">
    Estoy Muerto {{ mensajeError}}
</div>
  
  
  <div clas="container" style="padding-top: 1rem; padding-left: 10rem; padding-right: 10rem">
  


 
    <mat-card>

        <mat-card-content>
  
            <mat-expansion-panel hideToggle #expansion  [disabled]="true" [expanded]="true" >
                <mat-expansion-panel-header>
                  
                    <mat-panel-title style="color:black" >
                         <h1> Bienvenido a ShipiFi envios  </h1>
                    </mat-panel-title>
  

                </mat-expansion-panel-header>
  
                <!--
                <div>
                    <h2> {{ form.get('HEXA').value  }}  </h2> 
                </div>
                -->

                <div style="text-align: left; margin-bottom: 0px">
                  <h3 style="text-align: left; margin-bottom: 0px; margin-top: 10px;"> CVU de ShipiFi: 030345688 </h3>
                   
              
    
                </div>


            </mat-expansion-panel>
  
        </mat-card-content>

    </mat-card>
    




  
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  