



<div style="display: flex; justify-content: center;">

    <mat-card style="width: 40rem;">

        <form  [formGroup]="form" > 
            
            <mat-form-field appearance="fill"  class="example-full-width">
                <mat-label>Email Adress</mat-label>
                <input matInput formControlName="email" >   
            </mat-form-field>

            <mat-form-field appearance="fill"  class="example-full-width">
                <mat-label>Estado del pago</mat-label>
                <input matInput formControlName="payState" >   
            </mat-form-field>

            <mat-form-field appearance="fill"  class="example-full-width">
                <mat-label>Estado del envio </mat-label>
                <input matInput formControlName="shippingState" >   
            </mat-form-field>

            <mat-form-field appearance="fill"  class="example-full-width">
                <mat-label>Amount</mat-label>
                <input matInput formControlName="amount" >   
            </mat-form-field>

            <mat-form-field appearance="fill"  class="example-full-width">
                <mat-label>Direccion de envio</mat-label>
                <input matInput formControlName="adress" >   
            </mat-form-field>

            <mat-form-field appearance="fill"  class="example-full-width">
                <mat-label>Detalle del envio</mat-label>
                <textarea matInput formControlName="shippingDetails" >  </textarea> 
            </mat-form-field>

        </form>

    </mat-card>




    <mat-card style="width: 50rem">

        <div id="map" #asMap class="map-container"></div>
        

        <div style="display: flex;">

            <div class="example-button-container">
                <button mat-raised-button color="accent" style="font-size: 22px;" (click)="openDlg()">  
                    Pagar con <br> shippify wallet
                </button>
            </div>

            <ngx-qrcode
                [width]=150 
                [elementType]="elementType"
                [errorCorrectionLevel]="correctionLevel"
                [value]="value"
                alt="Demo QR Code"
                cssClass="bshadow">
            </ngx-qrcode>
    
        
            <div style="text-align: center; margin-top: 1rem;">
                <h1 style="padding: 0px;"> CVU: 00034331700599230129 </h1>
                <h1 style="padding: 0px;"> Alias: shippify.envios.ya </h1>
            </div>
        

           

    
        </div>

    </mat-card>

</div>





