
<div *ngIf="error" class="alert alert-danger animated fadeIn">
    Estoy Muerto {{ mensajeError}}
</div>
  
<div *ngIf="saveOk" class="alert alert-success animated fadeIn"> 
    ESTOY VIVO! {{ response}}
</div>
  
  <div clas="container" style="padding-top: 1rem; padding-left: 10rem; padding-right: 10rem">
  


    <mat-card>
  
      <mat-card-content>

          <mat-expansion-panel hideToggle #expansion [disabled]="true" [expanded]="true" >
              <mat-expansion-panel-header>
                  <mat-panel-title style="color:black" >
                       <h1>  ECHO TEST  </h1>
                  </mat-panel-title>
              </mat-expansion-panel-header>
          
              <button mat-raised-button  (click)="get()"> 
                  ECHO REQUEST 
              </button>
          </mat-expansion-panel>

      </mat-card-content>

  </mat-card>








  
    <mat-card>

        <mat-card-content>
  
            <mat-expansion-panel hideToggle #expansion  [disabled]="true" [expanded]="true" >
                <mat-expansion-panel-header>
                  
                    <mat-panel-title style="color:black" >
                         <h1>  CONVERSOR DE MAPA DE BITS  </h1>
                    </mat-panel-title>
  

                </mat-expansion-panel-header>
  
                <div>
                    <h2> {{ form.get('HEXA').value  }}  </h2> 
                </div>

                <form  [formGroup]="form" class="example-form">
                    <table class="example-full-width"> 
  
                        <tr> 
  
                          <td class="cellFormFilter">     
                              <mat-form-field appearance="fill"  class="example-full-width">
                                <mat-label>HEXA</mat-label>
                                <input matInput formControlName="HEXA" >   
                            </mat-form-field>
                          </td>
                        </tr>
                        <tr> 
                          <td class="cellFormFilter">     
                            <mat-form-field appearance="fill"  class="example-full-width">
                              <mat-label>BINARY</mat-label>
                              <input matInput formControlName="BINARY" >   
                          </mat-form-field>
                        </td>
  
                        </tr>

                        <tr> 
                            <td class="cellFormFilter">     
                              <mat-form-field appearance="fill"  class="example-full-width">
                                <mat-label>NIBBLE</mat-label>
                                <input matInput formControlName="NIBBLE" >   
                            </mat-form-field>
                          </td>
    
                          </tr>
                    </table>
                </form> 
                

                <button mat-raised-button  (click)="getBitMap()"> 
                    Convertir a Mapa de Bits 
                </button>


            </mat-expansion-panel>
  
        </mat-card-content>

    </mat-card>
    




  
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  