
<div *ngIf="error" class="alert alert-danger animated fadeIn">
    Estoy Muerto {{ mensajeError}}
</div>
  
  
  <div clas="container" style="padding-top: 1rem; padding-left: 10rem; padding-right: 10rem">
  


 
    <mat-card>

        <mat-card-content>
  
            <mat-expansion-panel hideToggle #expansion  [disabled]="true" [expanded]="true" >
                <mat-expansion-panel-header>
                  
                    <mat-panel-title style="color:black" >
                         <h1>  Conversor a mapa de bits  </h1>
                    </mat-panel-title>
  

                </mat-expansion-panel-header>
  
                <!--
                <div>
                    <h2> {{ form.get('HEXA').value  }}  </h2> 
                </div>
                -->


                <form  [formGroup]="form" class="example-form">
                    <table class="example-full-width"> 
  
                        <tr> 
                          <td class="cellFormFilter">     
                              <mat-form-field appearance="fill"  class="example-full-width">
                                <mat-label>Hexadecimal</mat-label>
                                <input matInput formControlName="HEXA" >   
                            </mat-form-field>
                          </td>
                        </tr>

                        <tr> 
                            <td class="cellFormFilter">     
                                <mat-form-field appearance="fill"  class="example-full-width">
                                    <mat-label>Binario</mat-label>
                                    <input matInput formControlName="BINARY" >   
                                </mat-form-field>
                            </td>                           
                        </tr>

                        <tr>
                            <td class="cellFormFilter ">     
                                <mat-form-field appearance="fill"  class="example-full-width">
                                    <mat-label>Mapa de bits</mat-label>
                                    <input matInput formControlName="MAPABITS" >   
                                </mat-form-field>
                            </td>
                        </tr>

       
                    </table>
                </form> 
                
                <div style="text-align: center;">
                    <button mat-raised-button color="primary"  (click)="getBitMap()"> 
                        Convertir a Mapa de Bits 
                    </button>
    
                </div>


            </mat-expansion-panel>
  
        </mat-card-content>

    </mat-card>
    




  
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  