.mat-card-header .mat-card-title{
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif !important ; 
    font-size: 16px !important;
  }
  
  
  

  .maestro-card {
    margin: 1rem;
    cursor: pointer;
    min-width: 6rem;
    min-height: 8rem;
    display: grid;
    text-align: center;
  }
  
  p{
    font-size: 20px;
  }