
<div *ngIf="error" class="alert alert-danger animated fadeIn">
    Estoy Muerto {{ mensajeError}}
</div>
  
  
  <div clas="container" style="padding-top: 1rem; padding-left: 10rem; padding-right: 10rem">
  


 
    <mat-card>

        <mat-card-content>
  
            <mat-expansion-panel hideToggle #expansion  [disabled]="true" [expanded]="true" >
                <mat-expansion-panel-header>
                  
                    <mat-panel-title style="color:black" >
                         <h1>  Login de de usuario </h1>
                    </mat-panel-title>
  

                </mat-expansion-panel-header>
  
                <!--
                <div>
                    <h2> {{ form.get('HEXA').value  }}  </h2> 
                </div>
                -->


                <form  [formGroup]="form" class="example-form">
                    <table class="example-full-width"> 
  
                        <tr> 
                          <td class="cellFormFilter">     
                              <mat-form-field appearance="fill"  class="example-full-width">
                                <mat-label>Nombre de Usuario</mat-label>
                                <input matInput formControlName="NAME" >   
                            </mat-form-field>

                            <div *ngIf="form.get('NAME').errors?.pattern" style="padding: 0px !important;">
                                <p class="text-danger" style="padding: 0px !important;"> Número Hexadecimal inválido</p>
                           </div> 

                          </td>
                        </tr>

                        <tr> 
                            <td class="cellFormFilter">     
                                <mat-form-field appearance="fill"  class="example-full-width">
                                    <mat-label>Contrasena</mat-label>
                                    <input matInput formControlName="PASSWORD" >   
                                </mat-form-field>
                            </td>                           
                        </tr>

       
                    </table>
                </form> 
              <div class="container-fluid">
                <div class="d-inline col-md-6" style="text-align: center;">
                    <button mat-raised-button color="primary"  [disabled]="form.invalid" (click)="logIn()"> 
                        Autenticar
                    </button>
    
                </div>

                  <div class="d-inline col-md-6" style="text-align: center;">
                    <button mat-raised-button color="secondary"  (click)="registrarse()"> 
                        registrarse
                    </button>
    
                </div>

              </div>  


            </mat-expansion-panel>
  
        </mat-card-content>

    </mat-card>
    




  
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  