

.example-full-width {
    //width: 48%;
    margin-left: 8px;
}

.mat-form-field {
    font-size: 20px;
}

.maestro-card {
    margin-top: 2rem;
    height: 7rem;
    width: 30rem;
    margin-left: 2rem;
}

.mat-raised-button {
    font-size: 19px;
    height: 4rem;
    margin-left: 8px;
    padding-top: 0px;
}
