<div *ngIf="error" class="alert alert-danger animated fadeIn"> <h1> {{ mensaje }} </h1> </div>
<div *ngIf="saveOk" class="alert alert-success animated fadeIn"> <h1> {{ mensaje }} </h1> </div>

<!-- {{ response | json }} {{  form.value | json }} -->

<div class="d-flex justify-content-center">    



<div> 



        <div class="col" >
            <mat-card class="maestro-card">
            <mat-card-header>
                <mat-card-title>
                    <div class="d-flex justify-content-around">
                        <h1> Cuenta N°: {{ response?.body.data.id }} </h1>
                    </div>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content> </mat-card-content>
            </mat-card>
        </div>

        <div class="col" >
            <mat-card class="maestro-card">
            <mat-card-header>
                <mat-card-title>
                    <div class="d-flex justify-content-around">
                        <h1> Dinero disponible: $ {{ response?.body.data.amount }}  </h1>
                    </div>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content> </mat-card-content>
            </mat-card>
        </div>


        <div class="col" >
            <mat-card class="maestro-card">
                <mat-card-header>
                <mat-card-title>
                    <div class="d-flex justify-content-around">
                        <h1> Alias: {{ response?.body.data.alias }}  </h1>
                    </div>
                </mat-card-title>
                </mat-card-header>
                <mat-card-content> </mat-card-content>
            </mat-card>
        </div>


        <div class="col" >  
            <mat-card class="maestro-card">
                <mat-card-header>
                <mat-card-title>
                    <div class="d-flex justify-content-around">
                        <h1> CVU: {{ response?.body.data.cvu }} </h1>
                    </div>
                </mat-card-title>
                </mat-card-header>
                <mat-card-content></mat-card-content>
            </mat-card>
        </div>

</div>






















  
<div clas="container-fluid" style="padding-top: 1rem; padding-left: 8rem; padding-right: 6rem;">
  
    <mat-card >

        <div>

            <h1> Transferir  Dinero</h1>
        
            <form [formGroup]="form" class="example-form">
            
                <div style="display: flex;"> 

                <mat-form-field appearance="fill" class="example-full-width"  style="width: 20rem;" >
                    <mat-label>Numero de CVU</mat-label>
                    <input matInput  formControlName="TO_CBU" >   
                </mat-form-field>

                <mat-form-field appearance="fill" class="example-full-width" >
                    <mat-label>Importe</mat-label>
                    <input matInput type="number" formControlName="MONTO" >   
                </mat-form-field>

                <div style="margin-top: 6px;">
                    <button mat-raised-button color="accent"  (click)="transferToCbu()" [disabled]="form.invalid" > 
                        Transferir
                    </button>
                </div>

                
                </div>

                
                <div *ngIf="form.get('MONTO').errors?.pattern" style="padding: 0px !important;">
                    <p class="text-danger" style="padding: 0px !important;"> Número invalido</p>
                </div> 
            
            </form> 
            
        </div>



        <mat-card>
            <h1 style="padding: 0px !important; margin: 0px !important;"> Recibir Dinero</h1>
            <ngx-qrcode
                [width]=200 
                [elementType]="elementType"
                [errorCorrectionLevel]="correctionLevel"
                [value]="value"
                alt="Demo QR Code"
                cssClass="bshadow">
            </ngx-qrcode>
        </mat-card>






    </mat-card>
  
</div>


</div>









