
    

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top bg-light">

 

    <div class="container">

        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Tivo</a> -->

        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="index.html">
            <img src="../../../../assets/web/images/shipping.png" alt="alternative" style="height: 4.75rem;">
        </a> 
        <h1 style="font: 700 2.5rem/3.125rem Open Sans, sans-serif;">Shippify </h1>
        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault"> </div>


        <button mat-raised-button routerLink="shipping"> Envios </button>
        <button mat-raised-button routerLink="tracking"> Tracking </button>
        <button mat-raised-button routerLink="Billetera"> Billetera </button>
        <button mat-raised-button routerLink="landing-page"> Salir</button>


         



    </div> <!-- end of container -->
    
 

</nav> <!-- end of navbar -->
<!-- end of navigation --> 
