<div class="wrapper fadeInDown">
    <div id="formContent">

        <div>
            <h1 style="font-size: 30px; padding: 3rem;"> UNIVERSIDAD DE PALERMO  </h1>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="login()">


            <mat-form-field appearance="fill">
                <mat-label>Username or email address</mat-label>
                <input matInput  formControlName="username" >
              </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" >
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>




            <input type="submit" class="fadeIn fourth" value="Sign in">


        </form>

        <div id="formFooter">
            <a class="underlineHover " href="# ">Forgot your password?</a>
            <a class="underlineHover " href="# "> New user? Create an account</a>
        </div>

    </div>
</div>